<%= form_for(@my_map) do |f| %>
  <% if @my_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_map.errors.count, "error") %> prohibited this my_map from being saved:</h2>

      <ul>
      <% @my_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
