<% provide :title, "初期設定の変更" %>
<h1><%= yield(:title) %></h1>

<%= form_for(@initial) do |f| %>
  <% if @initial.errors.any? %>
    <div id="error_explanation" class="alert-error">
      <h2><%= pluralize(@initial.errors.count, "error") %>つのエラーがあり、初期設定を保存できませんでした。</h2>

      <ul>
      <% @initial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.label :lat, "緯度" %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :lng, "経度" %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :zoom, "マップの拡大率" %><br />
    <%= f.text_field :zoom %>
  </div>
  <div class="actions">
    <%= f.submit "変更" %>
  </div>
<% end %>

<%= link_to 'キャンセル', initials_path, data: { role: :button } %>
