<% provide :title, "初期設定" %>
<h1><%= yield(:title) %></h1>

<% if @initial.present? %>
<table border="1">
  <tr>
    <th>緯度</th><td><%= @initial.lat %></td>
  </tr>
  <tr>
    <th>経度</th><td><%= @initial.lng %></td>
  </tr>
  <tr>
    <th>マップの拡大率</th><td><%= @initial.zoom %></td>
  </tr>
</table>
<% else %>
<p>初期設定がありません。</p>
<% if current_user.try(:admin?) %>
<%= link_to '作成', new_initial_path, data: { role: :button } %>
<% end %>
<% end %>
<% if current_user.try(:admin?) %>
<%= link_to '変更', edit_initial_path(@initial), data: { role: :button } %>
<% end %>