<h1>Listing initials</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Zoom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @initials.each do |initial| %>
      <tr>
        <td><%= initial.lat %></td>
        <td><%= initial.lng %></td>
        <td><%= initial.zoom %></td>
        <td><%= link_to 'Show', initial %></td>
        <td><%= link_to 'Edit', edit_initial_path(initial) %></td>
        <td><%= link_to 'Destroy', initial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initial', new_initial_path %>
