<% provide :title, "地区名の変更" %>
<h1><%= yield(:title) %></h1>

<% if @category.errors.any? %>
<div id="error_explanation" class="alert-error">
  <h2><%= pluralize(@category.errors.count, "error") %>つのエラーがあり、地区を保存できませんでした。</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@category) do |f| %>
<div class="field" data-role="fieldcontain">
  <%= f.label :name, "地区の名前" %>
  <%= f.text_field :name, { "placeholder" => "地区の名前" } %>
</div>
<div class="actions">
  <%= f.submit "上記の内容に変更する", data: { icon: :refresh } %>
</div>
<% end %>
<hr />
<%= link_to '地区の表示へ戻る', @category, data: { role: :button, icon: :back } %>
<%= link_to '地区の一覧へ戻る', categories_path, data: { role: :button, icon: :back } %>
