<% provide :title, "ジャンルの追加" %>
<h1><%= yield(:title) %></h1>

<%= form_for(@category) do |f| %>
<% if @category.errors.any? %>
<div id="error_explanation" class="alert-error">
  <h2><%= @category.errors.count %>つのエラーがあり、ジャンルを保存できませんでした。
  </h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field" data-role="fieldcontain">
  <%= f.label :name, "ジャンルの名前" %>
  <%= f.text_field :name, { "placeholder" => "ジャンルの名前" } %>
</div>
<div class="actions">
  <%= f.submit "上記の内容で追加する", data: { icon: :plus } %>
</div>
<% end %>
<hr />
<%= link_to 'ジャンルの一覧へ戻る', categories_path, data: { role: :button, icon: :back } %>
