<%
if user_signed_in?
  title = "あなたがチェックインした地点"
  if current_user.admin? 
    title = "ユーザーがチェックインした地点"
  end
else
  title = "チェックインした地点"
end  
%>
<h1><%= yield(title) %></h1>

<% if current_user.try(:admin?) %>
<table border="1">
  <tr>
    <th>時刻</th>
    <th>ユーザー</th>
    <th>チェックインした場所</th>
    <th></th>
  </tr>
  <% @checkins.each do |checkin| %>
  <tr>
    <td><%= link_to checkin.updated_at, maps_path({ :places_id => checkin.place.id }) %></td>
    <td><% if checkin.user.present? %><%= checkin.user.email %><% end %></td>
    <td><% if checkin.place.present? %><%= checkin.place.name %><% end %></td>
    <td><%= link_to '削除', checkin, method: :delete, data: { confirm: '削除しますか？' } %></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if user_signed_in? %>
<table border="1">
  <tr>
    <th>時刻</th>
    <th>チェックインした場所</th>
    <th></th>
  </tr>
  <% @checkins.each do |checkin| %>
  <tr>
    <td><%= link_to checkin.updated_at, map_path({ :places_id => checkin.place.id }) %></td>
    <td><% if checkin.place then %><%= checkin.place.name %><% end %></td>
    <td><%= link_to '履歴削除', checkin, method: :delete, data: { confirm: '削除しますか？' } %></td>
  </tr>
  <% end %>
</table>
<% end %>
