<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @checkin.user %>
</p>

<p>
  <strong>Place:</strong>
  <%= @checkin.place %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
