<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>マップ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
  <script type="text/javascript" src="https://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
var MAPRAMBLE = {};
MAPRAMBLE.places = [];
MAPRAMBLE.way_points = [];
<% if @places.present? %>
  <% @places.sort{|a, b| a.id <=> b.id }.each do |place| %>
MAPRAMBLE.places[<%= place.id %>] = { id: <%= place.id %>, lat: <%= place.lat %>, lng: <%= place.lng %> };
  <% end %>
<% end %>
<% if @checkins.present? %>
  <% @checkins.each do |checkin| %>
MAPRAMBLE.places[<%= checkin.place_id %>].isCheckin = true;
  <% end %>
<% end %>
<% if @location.present? %>
MAPRAMBLE.location = { lat: <%= @location.latitude %>, lng: <%= @location.longitude %>, accuracy: <%= @location.accuracy %>, isLocation: true };
<% end %>
<% if @initial.present? %>
MAPRAMBLE.initial = { lat: <%= @initial.lat %>, lng: <%= @initial.lng %>, zoom: <%= @initial.zoom %> };
<% if @initial.places_id.present? %>
MAPRAMBLE.places[<%= @initial.places_id %>].isCurrent = true;
<% end %>
<% end %>
<% if @my_map.present? %>
  <% @my_map.way_points.each do |way_point| %>
MAPRAMBLE.way_points.push(<%= way_point.place.id %>);
MAPRAMBLE.places[<%= way_point.place_id %>].isWayPoint = true;
  <% end %>
<% end %>
</script>
<script type="text/javascript" src="/js/mapRamble.js"></script>
</head>
<body>
  <div data-role="page" id="map">
    <%= render 'layouts/menu_panel' %>
    <div data-role="header" id="header">
      <div data-role="navbar">
        <ul>
          <li><%= link_to t("Menu"), "#menu_panel" %></li>
          <!-- <li><%= link_to "ホーム", root_path %></li> -->
          <li><a href="#" id="getLocation">現在位置</a></li>
          <li><a href="#" id="calcRoute">ルート探索</a></li>
        </ul>
      </div>
    </div>
    <div data-role="content">
      <div id="mapCanvas"></div>
      </div>
    </div>
  </div>
</body>
</html>